@import 'partials/setup';
@import 'partials/variables';
@import 'partials/mixins';


.container {
	max-width: 900px;
	margin: 0 auto;
}

.content {
	height: 100vh;
}

body {
	background-image: url(../../assets/background-image.jpg);
	background-attachment: fixed; 
	background-size: cover;
}

iframe {
	width: 400px;
	height: 480px;
}