@import 'partials/setup';
@import 'partials/variables';
@import 'partials/mixins';

html {
	font-size: 62.5%;
}
.container {
	max-width: 900px;
	margin: 0 auto;
}
.content{
	min-height: 100vh;
}
.wrapper {
	max-width: 90%;
	margin: 0 auto;
}

h1 {
	margin: 0;
	@include workSansBold(50);
	letter-spacing: 1.5rem;
}
.break {
	display: block;
}
.spicyBreak {
	color: $tsfwRed;
}
h2 {
	margin: 0;
	@include helvetica(30, 400)
}
h1, h2{
	// text-align: center;
}

form, .output {
	@include helvetica(16, 400)
}

body {
	background-image: url(../../assets/background-image.jpg);
	background-attachment: fixed; 
	background-size: cover;
}

header {
	min-height: 30vh;
	h1 {

	}
}

main {
	min-height: calc(70vh - 5vh);
}

iframe {
	width: 400px;
	height: 480px;
}

footer {
	min-height: 5vh;
	@include helvetica(12, 400)
	p {
		margin: 0;
	}
}