.spiceSelect {
	margin-top: 25px;
	
}

.spiceSelect_PlaylistLoad {
	@media (min-width: 940px) {
		display: inline-block;
		width: 49%;
		margin-right: 1%;
	}
}

label {
	display: block;
	clear: both;
	color: $tsfwBlack;
}

.spiceBox{
	background: rgba(96, 221, 181, 0.9);
	clear: both;
	padding: 20px 10px;
	border-radius: 20px;
	label{
		text-align-last: center;
		padding: 5px 0 20px 0;
	}
	
}

.spiceBox-onLoad {
	@media (min-width: 940px) {
		max-width: 75%;
		margin: 0 auto;
	}
}

.spiceBox_PlaylistLoad {
	@media (min-width: 940px) {
		max-width: 100%;
	}
}
.chiliBox {
	margin: 0 auto;
	padding-bottom: 10px;
	text-align: center;
}
.chili {
	width: calc(100% / 6);
	padding: 0;
	display: block;
	float: left;
	fill: $tsfwBlack;
}
#chili0{
	fill: $tsfwBlack;
		z-index: -1;
}
.noBox{
	position: relative;
	border: 5px solid $tsfwRed;
	border-radius: 100%;
	&::before{
		content: '';
		position: absolute;
		left: 0;
		right: 0;
		top:47%;
		transform: translateY(-50%) rotate(45deg);
		height: 5px;
		width: 105%;
		z-index: 100;
		background-color: $tsfwRed;

	}
}
.redChili {
	fill: $tsfwRed;
}
.rangeLabel{
	margin-top: 8%;
	text-align: center;
	// text-transform: capitalize;
}
#spiceLevel{
	appearance: none;
	display: block;
	height: 5px;
	width: 90%;
	margin: 0 auto;
	background: linear-gradient(to right, white, rgba(136, 145, 239, 0.9) );
}

input[type=range]::-webkit-slider-thumb {
  border: 1px solid #f5ffff;
  height: 30px;
  width: 16px;
  border-radius: 3px;
  background: #f5ffff;
  cursor: pointer;
  -webkit-appearance: none;
}

.select-label {
	position:absolute;
	left:-10000px;
	top:auto;
	width:1px;
	height:1px;
	overflow:hidden;
}

.genreSelection-onLoad {
	@media (min-width: 940px) {
		width: 75%;
		margin: 0 auto;
	}
}

.genreSelection_PlaylistLoad {
	@media (min-width: 940px) {
		width: 100%;

	}
}

.genre-select {
	appearance: none;
	padding: 15px 20px;
	background: rgba(96, 221, 181, 0.9) ;
	// border: 2px solid $tsfwGreen;
	border: none;
	border-right: 1px solid $tsfwBlack;
	display: block;
	width: 60%;
	float: left;
	border-top-left-radius: 20px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 20px;
	color: $tsfwBlack;
	margin: 10px 0;
}



.genreSubmit {
	width: 40%;
	float: left;
	padding: 15px 20px;
	background: rgba(96, 221, 181, 0.9) ;
	border: none;
	// border-left: 1px solid $tsfwBlack;
	appearance: none;
	border-top-left-radius: 0;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 0;
	color: $tsfwBlack;
	margin: 10px 0;

}
