.spiceSelect{
	margin-top: 25px;
}

label {
	display: block;
	clear: both;
	color: $tsfwBlack;
}

.spiceBox{
	background: rgba(96, 221, 181, 0.9);
	clear: both;
	padding: 20px 10px;
	border-radius: 20px;
	label{
		text-align-last: center;
		padding: 5px 0 20px 0;
	}
}
.chiliBox {
	margin: 0 auto;
	padding: 0;
	text-align: center;
}
svg {
	width: calc(100% / 6);
	padding: 0;
	display: block;
	float: left;
	fill: $tsfwBlack;
}

.redChili {
	fill: $tsfwRed;
}
.rangeLabel{
	margin-top: 8%;
}
#spiceLevel{
	appearance: none;
	display: block;
	height: 5px;
	width: 90%;
	margin: 0 auto;
	background: linear-gradient(to right, white, rgba(136, 145, 239, 0.9) );
}

input[type=range]::-webkit-slider-thumb {
  border: 1px solid #f5ffff;
  height: 30px;
  width: 16px;
  border-radius: 3px;
  background: #f5ffff;
  cursor: pointer;
  -webkit-appearance: none;
}

.select-label {
	position:absolute;
	left:-10000px;
	top:auto;
	width:1px;
	height:1px;
	overflow:hidden;
}
#genres{
	appearance: none;
	padding: 15px 20px;
	background: rgba(96, 221, 181, 0.9) ;
	// border: 2px solid $tsfwGreen;
	border: none;
	border-right: 1px solid $tsfwBlack;
	display: block;
	width: 60%;
	float: left;
	border-top-left-radius: 20px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 20px;
	color: $tsfwBlack;
	margin: 10px 0;
}
#genreSubmit{
	width: 40%;
	float: left;
	padding: 15px 20px;
	background: rgba(96, 221, 181, 0.9) ;
	border: none;
	// border-left: 1px solid $tsfwBlack;
	appearance: none;
	border-top-left-radius: 0;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 0;
	color: $tsfwBlack;
	margin: 10px 0;

}
